/*--------------------------------
  MAIN CHATTY CSS
--------------------------------*/

body {
  background-color: lightblue;
  font-family: 'Oswald', sans-serif;
  color:#202020;
}

h1 {
  display: inline-block;
  vertical-align: top;
  font-size: 3em;
  margin: 0;
}

h1,
h2 {
   font-family: 'Pacifico', serif;
}

.header {
  background-color: rgba(102,204,255, 0.5);
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 20px 10% 0;
}

.messageBox {
  display: inline-block;
  margin: 0 2.5%;
  width: 60%;
}

#userInput {
  display: block;
  width: 100%;
  height: 2rem;
  border-radius: 13px;
  margin: 1.5%;
  font-size: 1.3em;
}

#clear {
  display: inline-block;
  background-color: lightgrey;
  border-radius: 20px;
  font-size: 20px;
  margin: 0 20px;
}

#themeSize {
  display: inline-block;
  padding-top: 8px;
  padding-left: 10px;
  bottom: auto;
}

#message-container {
  margin: 150px 15% 2% 15%;
}

.userMessage {
  background-color: white;
  border-radius: 20px;
  margin: 10px 0;
  padding: 10px;
}

.delete {
  border-radius: 20px;
  display: block;
  margin-top: 10px;
}

.dark-theme {
  background-color: darkgray;
  color: white;
}

.make-large {
  font-size: x-large;
}