 body {
	background-color: lightblue;

}

.messageBox1 {
	background-color: #66ccff;
	width: 100%;
	position: fixed;
	opacity: 0.8;
	top: 0px;
	left: 0px;
	padding-top: 15px;
	padding-left: 150px;
	padding-bottom: 40px;

}

#clear {
	background-color: lightgrey;
	border-radius: 20px;
	font-size: 20px;

}

#themeSize {
	padding-top: 8px;
	padding-left: 10px;
	bottom: auto;
}


.message {
	line-height: 30px;
	width: 60%;
	border-width: 2px;
	border-style: solid;
}


#chatbox {
	margin: 2% 15% 2% 15%;
}

.dark-theme {
	background-color: darkgray;
	color: white;
}

.make-large {
	font-size: x-large;
}